# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\meduo_train\容联短信sdk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
